{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-no-target-blank": 1,
    "comma-dangle": [2, "always-multiline"],
    "react/prop-types": 0,
    "no-use-before-define": 0,
    "padded-blocks": 0,
    "id-length": [2, {
      "min": 3,
      "max": 30,
      "properties": "never",
      "exceptions": ["x", "y", "vx", "vy", "id", "i", "e", "fn", "_"]
    }]
  }
}
