doctype html
html
  head
    title
      block title
    // inject:css
    // endinject
    meta(name='description', content='Koodiklinikka on suomalainen yhteisö ohjelmistoalan harrastajille ja ammattilaisille.')
    meta(name='keywords', content='ohjelmointi,frontend,open source,devaus,suomi,javascript,clojure,go,java,node.js,io.js,angular.js,web')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')

    script.
      if(location.hostname === 'koodiklinikka.fi' && location.protocol !== 'https:') {
        location.protocol = 'https';
      }
    link(rel='apple-touch-icon', sizes='180x180', href='icons/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='icons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='icons/favicon-16x16.png')
    link(rel='manifest', href='icons/site.webmanifest')
    meta(property='og:image', content='images/logo.png')
    script(src='https://js.stripe.com/v3/')
    script(src='//use.typekit.net/scb5xny.js')
    script.
      try{Typekit.load();}catch(e){};

  body
    .site
      .container
        .header
          block header_content

        block content

      footer
        .sponsors
          .sponsors__label Yhteistyössä
          a(href='http://futurice.com/', target='_blank')
            img.sponsor.sponsor__futurice(src='images/futurice.svg')
          a(href='http://www.metosin.fi/', target='_blank')
            img.sponsor.sponsor__metosin(src='images/metosin.svg')
          a(href='https://www.solita.fi/', target='_blank')
            img.sponsor(src='images/solita.svg')
          a(href='http://wakeone.co/', target='_blank')
            img.sponsor.sponsor__wakeone(src='images/wakeone.svg')
          a(href='https://www.nordea.com/', target='_blank')
            img.sponsor.sponsor__nordea(src='images/nordea.png')

        .contacts
          div
            a(href='https://koodiklinikka.slack.com')
              i.fa.fa-slack

            a(href='https://github.com/koodiklinikka/koodiklinikka.fi')
              i.fa.fa-github

            a(href='https://twitter.com/koodiklinikka')
              i.fa.fa-twitter

            a(href='https://www.linkedin.com/groups/12025476')
              i.fa.fa-linkedin

            a(href='https://www.facebook.com/koodiklinikka')
              i.fa.fa-facebook
            div#email.email

    #fader
    // inject:js
    // endinject
