doctype html
html
  head
    title Koodiklinikka
    link(rel='stylesheet', href='css/style.css')
    meta(name='description', content='Koodiklinikka on suomalainen Slack-yhteisö ohjelmistoalan harrastajille ja ammattilaisille.')
    meta(name='keywords', content='ohjelmointi,frontend,open source,devaus,suomi,javascript,clojure,go,java,node.js,io.js,angular.js,web')
    meta(charset='utf-8')
    script(src='//use.typekit.net/scb5xny.js')
    script.
      try{Typekit.load();}catch(e){};

  body
    .jumbo
      div
        h1 <a target="_blank" href="https://slack.com/">Slack</a>-yhteisö kaikille ohjelmoinnista ja ohjelmistoalasta kiinnostuneille harrastajille ja ammattilaisille.
    section

      .form-container
        #invite-form
          h3 Tule mukaan
        p.
          Etsitkö tiimikavereita projektiisi? Kiinnostaako koodaaminen, mutta et tiedä mistä lähtisi liikkeelle?
          Onko koodissasi bugi joka ei pitkän googlettamisen jälkeen ole vieläkään ratkennut?
          Koodiklinikka on <a target="_blank" href="https://slack.com/">Slack</a>-yhteisö kaikille avoin softakehitykseen keskittynyt yhteisö.


    footer

      a(href='https://koodiklinikka.slack.com')
        i.fa.fa-slack

      a(href='https://github.com/koodiklinikka/koodiklinikka.fi')
        i.fa.fa-github

    script(src='js/bundle.js')
