extends templates/head

block title
  | Koodiklinikka

block header_content
  video(autoplay, loop, poster='images/poster.jpg', class='header__video-bg')
    source(src='videos/jumbo.mp4', type='video/mp4')
  .header__container
    .header__nav
      a(href='/') etusivu
      a(href='/yhdistys.html') yhdistys
    .header__headline
      .header__logo
      h1.header__title Yhteisö kaikille ohjelmoinnista ja ohjelmistoalasta kiinnostuneille harrastajille ja&nbsp;ammattilaisille.

block content
  .content.with-feed
    section
      .row
        h3 Tule mukaan <a target="_blank" href="https://slack.com/">Slack</a> yhteisöömme
        #invite-form.form

    section
      .row
        .bread
          .column.column1-2
            h3 Yhteisö ohjelmoinnista kiinnostuneille
            p.
              Koodiklinikka on Suomen suurin ohjelmistoalan yhteisö, joka kokoaa työntekijät, harrastajat ja vasta-alkajat yhteen.
              Tarkoituksenamme on yhdistää ja kasvattaa suomalaista ohjelmointiyhteisöä, sekä tarjota apua ja uusia kontakteja ohjelmoinnista innostuneille nuorille.
            p.
              Mukaan liittyminen on ilmaista ja helppoa. Jätä sähköpostiosoitteesi ylläolevaan kenttään ja lähetämme sinulle kutsun Slack-yhteisöömme.
          .column.column1-2
            a(href='images/slack.png', target='_blank')
              img(src='images/slack.png')


      .row
        .bread
          .column.column2-5
            img(src='images/octocat.png')

          .column.column3-5
            h3 Avoin lähdekoodi
            p
              |Suosimme avointa lähdekoodia ja kaikki käyttämämme koodi on vapaasti saatavilla ja hyödynnettävissä <a href="https://github.com/koodiklinikka">Github-organisaatiomme sivulta</a>.
              |Organisaation jäseneksi otamme kaikki Slack-yhteisömme jäsenet ja kontribuutio projekteihimme otetaan lämpimästi vastaan.

            #members

      .row
        h2 Potilaiden projekteja
        .bread
          .column.column2-5
            a(href='https://redom.js.org', target='_blank')
              img(src='images/redom.svg')

          .column.column3-5
            h4 RE:DOM

            p.
              Tiny (2 KB) turboboosted JavaScript library for creating user interfaces.
              Develop web apps with 100 % JavaScript and web standards.

        .bread
          .column.column2-5
            a(href='https://codestats.net/', target='_blank')
              img.project-image__codestats(src='images/codestats.png')

          .column.column3-5
            h4 Code::Stats

            p.
              Code::Stats is a free stats tracking service for programmers

            #members

    #feed
