extends templates/head

block title
  | Yhdistys

block header_content
  .header__container
    .header__nav
      a(href='/') etusivu
      a(href='/yhdistys.html') yhdistys
    .header__headline
      .header__logo
      h1.header__title Koodiklinikka ry
  .header__members
    #members

block content
  .content
    section
      .row
        .bread
          .column.column1-2
            h3 Rekisteröity yhdistys
            p.
              Koodiklinikka on nyt rekisteröity yhdistys!
            p.
              Lähes nelivuotisen taipaleensa aikana Koodiklinikka on kasvanut lähes tuhannen rekisteröityneen jäsenen yhteisöiksi ja näin saavuttanut aseman Suomen suurimpana ohjelmointiaiheisena yhteisönä! Liittymällä Koodiklinikka ry:n jäseneksi tuet toimintaamme, ja tulevaisuudessa yhdistyksen jäsenyys oikeuttaa etuihin Koodiklinikan tapahtumissa.
            p.
              Yhdistyksen jäsenyys <b>ei ole</b>, eikä tule olemaan, <b>pakollinen</b> Koodiklinikan käyttäjille tai meetuppeihin osallistujille.
          .column.column1-2
            .bread-img
      .row
        .bread
          .column.column1-2
            h3 Liity jäseneksi
            #membership-form.form

          .column.column1-2
            p.
              Kuka tahansa Slack:iin rekisteröitynyt käyttäjä voi liittyä yhdistyksen jäseneksi maksamalla kertaluontoisen <b>10€</b> jäsenmaksun.
            p.
              Nimellisellä jäsenmaksulla tulemme tekemään tapahtumistamme vieläkin mielenkiintoisempia ja kattamaan kustannuksia jäsenmäärämme kasvaessa.
            p.
              Jos tarvitset Slack-kutsun, siirry <a target="_blank" href="/">etusivulle</a>.
            p.
              Jäsenrekisterin rekisteriseloste luettavissa <a target="_blank" href="https://docs.google.com/document/d/1w-NZkf1EFYMC8a4LsoZouhpMVKORmPi8UFWRhurr0oM/edit?usp=sharing">Google Drivessä</a>.

